

  .maps-parent{
    /* background: url("../pics/mountain.jpeg") no-repeat 50% 100%; */

    background-image: url("../pics/mountain.jpeg");
    
    /* bottom: -20px; */
    height: 1000px;
    background-size: cover;
    /* position: absolute; */
    /* width: 110%; */
    /* left: -5%; */
    /* top: -5%; */
  }



.maps-nav{
    color: black;
    color: green;
    /* position:absolute; */
    padding-top: 10%;
    width: 100%;
    text-align: center;
    
  }


  .maps-head{
      /* font-size: larger; */
      font-weight: bolder;
      font-size: 50px;
      font-family: fantasy;
  }

  .maps-body{
      
    /* position:absolute; */
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 25%; */
    padding-top: 10%;
    width: 100%;

  }

  .input-fields{
    font-family: verdana, sans-serif;
    font-size: larger;
    font-weight: 600;
    color: black;
    margin-bottom: 2%;
  }
  

  .maps-submit-button{
      font-size: larger;
      width: 20%;
      border-radius: 5px;
      color: green;
  }

  .input-text{
      width: 40%;
  }

  .input-password{
    width: 40%;
}