
.ReactLogo {
    text-align: center;
  }
  
  .ReactLogo-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .ReactLogo-logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }

  .ReactLogo-logo1 {
    height: 10vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .ReactLogo-logo1 {
      animation: App-logo-spin infinite 1s linear;
    }
  }

  .ReactLogo-logo2 {
    height: 10vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .ReactLogo-logo2 {
      animation: App-logo-spin infinite 1s linear;
    }
  }

  
  .ReactLogo-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .heading{
    color: red;
    font-size: xx-large;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }